{% extends 'rotprof/base.html' %}
{% block content %}
<h2> Name : {{post.Name}} </h2>
<div>
  <img src="{{ post.picture.url }}" height = "300" width = "300">
</div>
<p> Branch : {{post.Branch}} </p>
<p> College : {{post.College}} </p>

<hr>
<p> Comments: </p>
<a class="btn btn-default" href="{% url 'add_comment_to_post' bran=post.Branch pk=post.pk %}">Add comment</a>
{% for comment in post.comments.all %}
    <div class="comment">
      <p> {{comment.rating}} </p>
      <p>{{ comment.text }}</p>
        <div class="date">{{ comment.created_date }}</div>
        <strong>{{ comment.author|linebreaks }}</strong>
        <hr>
    </div>
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}

{% endblock %}
